$heightBtn: 50px;

.container {
  position: relative;
  display: inline-block;
}

.ul {
  display: none;
  position: absolute;
  top: $heightBtn;
  right: 0;
  left: 0;
  li:last-child {
    @apply rounded-b-lg;
  }
}

.button {
  height: $heightBtn;
  min-width: 100px;

  @apply bg-slate-500 border-2 rounded-lg p-2 border-slate-200 text-slate-200 font-semibold;
}

.li {
  @apply bg-slate-500 border-2 border-t-0 border-slate-200 text-slate-200 font-semibold;
}

.item-button {
  @apply w-full p-2;
  height: $heightBtn;
}

.active {
  .ul {
    display: block;
  }
  .button {
    @apply rounded-b-none;
  }
}
